#logo{

    padding-bottom: 10px;
    padding-top: 5px;

}

.row {
    padding-top: 150px;
    display: flex;
    background: white;
}

.column {
    flex: 33.33%;
    padding: 5px;

}


.navbar {
    overflow: hidden;
    background-color: #E7E9EB;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-radius: 25px;
}

/*Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #09b;
  color: black;
}

/* Active/current link */
.navbar a.active {
    background-color: #09b;
    color: white;
}