<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create wish</title>
</head>
<body>

<form action="/createwish" method="post">
    <label for="Product_name">Product name</label> <br>
    <input type="text" name="Product_name"> <br>

    <label for="Product_description">Product description</label> <br>
    <input type="text" name="Product_description"> <br>

    <label for="Product_price">Product price</label> <br>
    <input type="number" name="Product_price"> <br>

    <label for="Product_link">Product link</label> <br>
    <input type="text" name="Product_link"> <br>

    <a href="HomePage.html">
    <button type="submit">Send</button>
    </a>




</form>

</body>
</html>