<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="Stylesheet.css">
    <meta charset="UTF-8">
    <title>Ønskeskyen</title>
</head>
<body>

<div id="logo">
    <img src="https://s3-eu-west-1.amazonaws.com/cyjobapi-live/companies/pictures/logos/original/c976e36c7695bccde55140b3df0c7401-80f4bcf645e55c0337c88c68def9bd61.png"
         width="20%" height="20%">
</div>

<div class="navbar">
    <a href="/" class="active">Home</a>
    <a href="createwishlist">Create Wishlist</a>
    <a href="createwish">Create Wish</a>
    <a href="showwishlist">Show Wishlist</a>
</div>

<div id="TitleHomePage">

    <div class="row">
        <div class="column">
            <a href="http://www.nicehair.dk">
            <img src="Nicehair.PNG" alt="Snow" style="width:50%">
            </a>
        </div>

        <div class="column">
            <a href="http://www.imerco.dk">
            <img src="Imerco.PNG" alt="Forest" style="width:50%">
            </a>
        </div>

        <div class="column">
            <a href="http://www.elgiganten.dk">
            <img src="Elgiganten.PNG" alt="Mountains" style="width:50%">
            </a>
        </div>
    </div>


</div>



</body>
</html>