<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="HomePagecss.css">
    <meta charset="UTF-8">
    <title>Ønskeskyen</title>
</head>
<body>

<div id="logo">
<img src="https://s3-eu-west-1.amazonaws.com/cyjobapi-live/companies/pictures/logos/original/c976e36c7695bccde55140b3df0c7401-80f4bcf645e55c0337c88c68def9bd61.png" width="20%" height="20%">
</div>

<div id="TitleHomePage">


</div>

<div id="OpretØnskeSeddelButton">

  <a href="createWishlist.html">
  <button  type="button">Opret ønskeliste</button>
  </a>
</div>


<div>
  <a href="hentønskeliste.html">
    <button  type="button">Hent ønskeliste</button>
  </a>
</div>

</body>
</html>